In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("titanic-clean-2.csv")
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch Embarked
0         0       3    1  22.0      1      0        S
1         1       1    0  38.0      1      0        C
2         1       3    0  26.0      0      0        S
3         1       1    0  35.0      1      0        S
4         0       3    1  35.0      0      0        S

In [3]:
df.shape

(881, 7)

In [4]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown="ignore", sparse_output=False)
matrix = encoder.fit_transform(df[["Embarked"]])
encoder_feature_names = encoder.get_feature_names_out()
encoder_feature_names

array(['Embarked_C', 'Embarked_Q', 'Embarked_S'], dtype=object)

In [5]:
df_encoded = pd.DataFrame(data=matrix, columns=encoder_feature_names)
df_encoded.head()

   Embarked_C  Embarked_Q  Embarked_S
0         0.0         0.0         1.0
1         1.0         0.0         0.0
2         0.0         0.0         1.0
3         0.0         0.0         1.0
4         0.0         0.0         1.0

In [6]:
df = pd.merge(df, df_encoded, left_index=True, right_index=True)
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked,Embarked_C,Embarked_Q,Embarked_S
0,0,3,1,22.0,1,0,S,0.0,0.0,1.0
1,1,1,0,38.0,1,0,C,1.0,0.0,0.0
2,1,3,0,26.0,0,0,S,0.0,0.0,1.0
3,1,1,0,35.0,1,0,S,0.0,0.0,1.0
4,0,3,1,35.0,0,0,S,0.0,0.0,1.0